<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="page-header">
        <h1 class="text-center">
          Edit Contest
        </h1>
      </div>
      <div class="row clearfix">
        <div class="col-md-4 col-md-offset-4 column">
          <%= render 'form' %>
          <br>
          <%= link_to 'Back', my_contests_path %>
        </div>
      </div>
    </div>
  </div>
</div>